<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Material Dashboard Heading</h4>
        <p class="card-category">Created using Roboto Font Family</p>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <!-- Static form fields -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="name" formControlName="name" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <input matInput placeholder="type" formControlName="type" />
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="questions">
          <ng-containter
            *ngFor="let q of questionsArray; let i = index; truckBy: q"
          >
            <div class="row">
              <div class="col-md-12 bloc" *ngIf="q.type === 'input'">
                <label>Question {{ i + 1 }}</label>
                <mat-form-field class="question" appearance="outline">
                  <input matInput placeholder="question" />
                </mat-form-field>
              </div>
            </div>
            <!--uniquechoice-->

            <div class="row" *ngIf="q.type === 'uniqueChoice'">
              <div class="col-md-12 bloc">
                <label>Question {{ i + 1 }}</label>
                <mat-form-field class="question" appearance="outline">
                  <input matInput placeholder="question" />
                </mat-form-field>
                <div class="row responses">
                  <div class="col-md-12">
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                    >
                      <mat-radio-button
                        *ngFor="let r of q.responses; let j = index; truckBy: j"
                      >
                        <mat-form-field class="response" appearance="outline">
                          <input matInput placeholder="response{{ j + 1 }}" />
                        </mat-form-field>
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <!-- multiple-->
            <div class="row" *ngIf="q.type === 'multipleChoice'">
              <div class="col-md-12 bloc">
                <label>Question {{ i + 1 }}</label>
                <mat-form-field class="question" appearance="outline">
                  <input matInput placeholder="question" />
                </mat-form-field>
                <div class="row responses">
                  <div class="col-md-12">
                    <mat-checkbox
                      *ngFor="let r of q.responses; let j = index; truckBy: j"
                    >
                      <mat-form-field class="response" appearance="outline">
                        <input matInput placeholder="response{{ j + 1 }}" />
                      </mat-form-field>
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </ng-containter>
        </div>
      </div>
    </div>
  </div>
</div>
