.questions ::ng-deep .question .mat-form-field-outline{
    border: 2px dashed burlywood;
}
.questions ::ng-deep .response .mat-form-field-outline {
    border: 2px dashed rgb(5, 130, 128);
}
.bloc{
    border: 3px dashed grey;
        margin-bottom: 40px;
}

.questions ::ng-deep .mat-checkbox-inner-container-no-side-margin {
    margin-left: 0;
    margin-right: 4px;
    margin-bottom: 41px;
}
.response{
    width: 700px;
}