<div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="">
            <th>Activity</th>
            <th>Workforce</th>
            <th>Collaboration Start Date</th>
            <th>History</th>
        </thead>
        <tbody>
            <tr >
                <td>{{ clients }}</td>
                <td>{{ clients }}</td>
                <!-- <td>{{ clients.about_company.collaborationStartDate }}</td> -->
                <!-- <td>{{ clients.about_company.history }}</td> -->
            </tr>
        </tbody>
    </table>
      <table class="table table-hover" >
        <thead class="">
            <th>fullName<th>
            <th>Téléphone</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients" >
                <div *ngIf="client.fullName">
                    <td>{{ client.fullName }}</td>
                    <td>{{ client.contact.telephone }}</td>
                    <td>{{ client.contact.email }}</td>
                </div>
            </tr>
        </tbody>
    </table>
      <table *ngIf="clients" class="table table-hover">
        <thead class="">
            <th>Bank Infos</th>
            <th>Payement Termes</th>
            <th>Payement History</th>
        </thead>
        <tbody>
            <tr  *ngFor="let client of clients">
                <td>{{ client.about_company.activity }}</td>
                <td>{{ client.about_company.workForce }}</td>
                <td>{{ client.about_company.collaborationStartDate }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
