<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Simple Table</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Salary</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Dakota Rice</td>
                    <td>Niger</td>
                    <td>Oud-Turnhout</td>
                    <td class="text-primary">$36,738</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td class="text-primary">$23,789</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sage Rodriguez</td>
                    <td>Netherlands</td>
                    <td>Baileux</td>
                    <td class="text-primary">$56,142</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Philip Chaney</td>
                    <td>Korea, South</td>
                    <td>Overland Park</td>
                    <td class="text-primary">$38,735</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Doris Greene</td>
                    <td>Malawi</td>
                    <td>Feldkirchen in Kärnten</td>
                    <td class="text-primary">$63,542</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>Mason Porter</td>
                    <td>Chile</td>
                    <td>Gloucester</td>
                    <td class="text-primary">$78,615</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Table on Plain Background</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>Enseigne Commercial</th>
                  <th>About company</th>
                  
                  <th>Contact</th>
                  
                  <th>Billing Infos</th>
                  
                  <th>Notes</th>
                  <th>Addition Notes</th>
                </thead>
                <tbody>
                  <tr *ngFor="let client of clients">
                    <td>{{ client.enseigneCommercial }}</td>
                  
                    <td>
                      <ol>
                        
                        <li>
                          <button mat-raised-button (click)="openDialog(client.about_company)">afficher</button>
                        </li>
                       
                      </ol>
                    </td>
                    <td>
                      <ol>
                        
                        <li>
                          <button mat-raised-button (click)="openDialog(client.contact)">afficher</button>
                        </li>
                       
                      </ol>
                    </td>
                    
                    <td>
                      <ol>
                        
                        <li>
                          <button mat-raised-button (click)="openDialog(client.billing_infos)">afficher</button>
                        </li>
                       
                      </ol>
                    </td>
                    
                    
                    <td>{{ client.notes }}</td>
                    <td>{{ client.additionNotes }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div id="googleReviews"></div>
  <section id="reviews" style="margin-left: 80px">
    <div id="title">
      <h4>Google Reviews</h4>
    </div>
    <div id="reviews" class="row">
      <mat-card *ngFor="let review of reviews" class="card col-md-3">
        <mat-card-header>
          <div class="avatar" mat-card-avatar>
            <img
              src="{{ review.profile_photo_url }}"
              alt="Avatar"
              height="50"
              width="50"
            />
          </div>
          <mat-card-title>{{ review.author_name }}</mat-card-title>
          <h6>{{ review.relative_time_description }}</h6>
          <div class="stars">
            <i
              *ngFor="let item of createRange(review.rating)"
              class="material-icons"
              >grade</i
            >
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>{{ review.text }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="rowButton">
      <a mat-raised-button href="${ALL_REVIEWS_LINK}" target="_blank"
        >View all reviews</a
      >
    </div>
  </section>
</div>
