<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Ajout Client</h4>
            <p class="card-category">Completer les informations</p>
          </div>
          <div class="card-body">
            <form [formGroup]="clientForm" (submit)="onSumbit()">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="enseigne commercial"
                      formControlName="enseigneCommercial"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="company adress"
                      formControlName="companyAdress"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="company website"
                      type="text"
                      formControlName="companyWebsite"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="google business"
                      type="text"
                      formControlName="googleBusiness"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <input
                      matInput
                      placeholder="google stars"
                      type="text"
                      formControlName="googleStars"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Note Google</label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <textarea
                      matInput
                      placeholder="description"
                      rows="4"
                      formControlName="description"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>

              <!--  about_company-->
              <div formGroupName="about_company" >
                <h6>About company</h6>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="activity"
                        type="text"
                        formControlName="activity"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="workforce"
                        type="text"
                        formControlName="workForce"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-10">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="collaboration start date"
                        type="text"
                        formControlName="collaborationStartDate"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>History</label>
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <textarea
                        matInput
                        placeholder="history"
                        rows="4"
                        formControlName="history"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!--  contact-->
              <div formGroupName="contact" >
                <h6>Contact</h6>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="full name"
                        type="text"
                        formControlName="fullName"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="tel"
                        type="text"
                        formControlName="telephone"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-10">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="email"
                        type="email"
                        formControlName="email"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!--  billing_infos-->
              <div formGroupName="billing_infos" >
                <h6>billing infos</h6>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="bank infos"
                        type="text"
                        formControlName="bankInfos"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <input
                        matInput
                        placeholder="payment terms"
                        type="text"
                        formControlName="paymentTerms"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>History</label>
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <textarea
                        matInput
                        placeholder="payment history"
                        rows="4"
                        formControlName="paymentHistory"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!--notes-->
              <div class="row">
                <div class="col-md-12">
                  <label>Notes</label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <textarea
                      matInput
                      placeholder="notes "
                      rows="4"
                      formControlName="notes"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Addition notes</label>
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <textarea
                      matInput
                      placeholder="addition notes"
                      rows="4"
                      formControlName="additionNotes"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                
              >
                Ajout Client
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human
              foundation in truth And I love you like Kanye loves Kanye I love
              Rick Owens’ bed design but the back is...
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round"
              >Follow</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
